# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Output folders
dist/
build/
tmp/
temp/
uploads/
generated_videos/
frames/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
.DS_Store
Thumbs.db